<configuration>
  <system.webServer>
    <handlers>
    <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    <remove name="PythonHandler" />
    <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python311x64\python.exe|D:\home\Python311x64\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="python" arguments="app.py" stdoutLogEnabled="false" startupTimeLimit="60" />
  </system.webServer>
</configuration>
