html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin-top: 0 !important; ;
  background-color: #454A5F !important; /* set background color to #454A5F */

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 40vw; /* increased width by 15px on each side */
  padding: 32px;
  background-color: #1E202C !important;
  border-radius: 12px !important;
}

.logo img {
  max-width: 150px;
  margin-bottom: 20px;
}

.card h1 {
  font-size: 16px; /* reduced font size */
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.form-label {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
  color: white;
}

.form-check .form-check-input {
  width: 14px !important;
  height: 14px !important;
  margin-top: 0 !important;
}

.form-check .form-check-label {
  line-height: 15px !important;  /* set this to match the height of your checkbox */
}
.btn:focus, .btn:active, .btn:hover {
  background-color: #06A392 !important;
}

input::placeholder {
  font-size: 13px;
}

/* Sidebar *//* Sidebar */
.sidebar .logo, .sidebar .drevtech {
  display: flex; /* turns on flexbox */
  justify-content: center; /* centers children horizontally */
  color: #FFFFFF;
}

.sidebar .drevtech {
  display: flex;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 30px; /* adjust this value as needed */
}


.sidebar {
  position: fixed; 
  height: 100%;
  width: 335px;
  padding: 22px 24px 670px 25px;
  background: #1E202C;
  box-shadow: 1px 0px 0px 0px #454A5F;
  display: block; /* set sidebar to display by default */
}

.sidebar a {
  display: block;
  padding: 8px 169px 8px 12px;
  border-radius: 6px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none; /* remove underline from links */
  margin-bottom: 13px; /* adds space between links */
  white-space: nowrap; /* prevent text from wrapping onto the next line */
}

.sidebar a.active {
  background-color: #454A5F;
}

.sidebar a:hover {
  background-color: #454A5F;
  color: #FFFFFF;
}


/* Home Page */

/* adjust margin to prevent overlap with sidebar */
.squeeze {
  margin-left: 335px; /* this should match the width of your sidebar */
  padding: 25px;
}

.home-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1E202C;
  font-family: Helvetica Neue;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 15px;
  border-radius: 6px;
}



.home-breadcrumb h1 {
  font-size: 1.5em; /* adjust this value to your preference */
  margin: 0;
}

.home-breadcrumb .btn{
  background-color: #06A392;
  border: 0;
}

.home-breadcrumb .btn:hover{
  background-color: #6c757d !important;
}

.home-card {
  display: flex;
  justify-content: space-between;
  width: 100%; /* full width of parent container */
  gap: 24px;
  margin-top: 20px;
}

.home-card .no-style-link {
  flex: 1 0 auto;
}

.home-card .box {
  background: #1E202C;
  border-radius: 6px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-card .box:hover {
  background: #2f3245;

}

.no-style-link {
  text-decoration: none;
  display: block; /* or inline-block */
}

.box p, .box h2 {
  color: white;
}

.box p {
  margin-top: 10px;
  font-size: 1.5em;
}

.box h2 {
  font-size: 2.5em;
}

.noneed{
  color: white;
  
}


.home-table {
  background: #1E202C;
  width: 100%; /* fill the width of the parent container */
  margin-top: 25px;
}

.home-table table {
  width: 100%; /* fill the width of the parent container */
  border-collapse: collapse; /* remove default spacing between table cells */
}

.home-table th, .home-table td {
  padding: 4px 0; /* top and bottom padding, no left and right padding */
  padding-left: 15px; /* add padding to the left */
  padding-right: 10px;
  text-align: left;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}

.home-table thead th {
  height: 60px;
  padding: 4px 0px 4px 0px;
  padding-left: 15px; /* add padding to the left */
  text-align: left;
  color: white;
  background: #454A5F;
}


.home-table thead th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.home-table thead th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.home-table h2{
  color: #FFFFFF;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
  padding-top: 25px;
}

.home-table thead {
  background: #454A5F;
  padding: 10px;
}

.home-table tbody tr {
  background: #1E202C;
  border-bottom: 1px solid #313545;
}

.home-table tbody td {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  padding: 15px;
}

/* Styles for the table container */
.upcoming-tasks.home-table {
  border-radius: 6px;
}


/* Styles for the table container */
.table-container {
  padding: 16px;
  border-radius: 6px;
  background: #1E202C;
}

/* Styles for the table header */
table thead {
  background: #454A5F;
  border-radius: 6px;
  padding: 4px 0px 4px 0px;
  justify-content: space-between;
  width: 100%; /* adjust as necessary, this will make the header fill the width of its container */
  height: 60px; /* adjust as necessary, this will set the height of the header */
}

/* Styles for the table header text */
table thead th {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: white;
}

/* Add a gap between table rows */
table tr + tr {
  margin-top: 1px;
}


.dropdown {
  position: relative;
  display: inline-block;
  background-color: #313545;
  overflow: visible !important;


}

.dropdown-toggle {
  background-color: #1E202C;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #313545 !important;
  border-radius: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
  transition: display 0.5s ease-in-out; /* Add a transition effect (optional) */

}

.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #313545;
}


.dropdown-menu a:hover {
  background-color: #2f3245;
  color: #FFFFFF;
}


.form-container.card {
  background: #1E202C;
  padding: 16px;
  border-radius: 6px;
}

.form-label {
  color: white;
}

.form-control {
  background: #454A5F;
  border: none;
  color: white;
}

.btn {
  background-color: #06A392 !important;
  border: none !important;
  color: white;
}

.btn:hover {
  background-color: #6c757d !important;
}


.form-card {
  background: #1E202C;
  padding: 16px;
  border-radius: 6px;
  margin-top: 15px;
}








/* Hide .large-screen on small screens and adjust a tags */
@media (max-width: 992px) {
  .nav-text {
    display: none; /* hide nav text */
  }

  .large-screen {
    display: none; /* hide large screen elements */
  }
  .sidebar a {
    display: flex; /* Make a elements into flex containers */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 30px; /* NEW: Remove padding */
    height: 100%; /* make a tags fill the height of the sidebar */
    margin: 0; /* NEW: Remove margin */
  }
  
  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80px; /* adjust as needed */
    width: 100%;
    bottom: 0; /* position at bottom */
    padding: 0;
  }


    /*  on small Screens */

    
    .squeeze {
      margin-left: 0; /* no need for margin on the left side on small screens */
      padding: 10px;
      padding-bottom: 92px; /* Add padding to the bottom equal to the height of the sidebar */
    }
  

  
    .home-breadcrumb h1 {
      font-size: 1.2em; /* adjust this value to your preference */
    }
  
  
    .home-table {
      margin-top: 10px;
    }
  
    .home-table th, .home-table td {
      padding: 2px 0; /* top and bottom padding, no left and right padding */
      padding-left: 5px; /* add padding to the left */
      padding-right: 5px;
    }
    
    .home-table tbody td {
      padding: 5px;
    }
  
    .table-container {
      padding: 8px;
    }

    .dropdown-menu {
      right: 0 !important;
      left: auto !important;
    }
  }

  

  

/* Show .large-screen on larger screens */
@media (min-width: 992px) {
  .large-screen {
    display: block; /* show large screen elements */
  }
}

