html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin-top: 0 !important;
  background-color: #454A5F !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2em;
  max-width: 80%;
  background-color: #1E202C !important;
  border-radius: 1em !important;
}

.logo img {
  max-width: 150px;
  margin-bottom: 1em;
}

.card h1 {
  font-size: 1em;
  font-weight: 700;
  line-height: 2em;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.form-label {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
  color: white;
}

.form-check .form-check-input {
  width: 1em !important;
  height: 1em !important;
  margin-top: 0 !important;
}

.form-check .form-check-label {
  line-height: 1em !important;
}

.btn:focus, .btn:active, .btn:hover {
  background-color: #06A392 !important;
}

input::placeholder {
  font-size: 0.9em;
}

/* Sidebar */
.sidebar .logo, .sidebar .drevtech {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.sidebar .drevtech {
  display: flex;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 30px;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 335px;
  padding: 22px 24px 670px 25px;
  background: #1E202C;
  box-shadow: 1px 0px 0px 0px #454A5F;
  display: block;
}

.sidebar a {
  display: block;
  padding: 8px 169px 8px 12px;
  border-radius: 6px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 13px;
  white-space: nowrap;
}

.sidebar a.active {
  background-color: #454A5F;
}

.sidebar a:hover {
  background-color: #454A5F;
  color: #FFFFFF;
}

/* Home Page */
.squeeze {
  margin-left: 335px;
  padding: 25px;
  max-width: 100%;
}

.home-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1E202C;
  font-family: Helvetica Neue;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 15px;
  border-radius: 6px;
}

.home-breadcrumb h1 {
  font-size: 1.5em;
  margin: 0;
}

.home-breadcrumb .btn{
  background-color: #06A392;
  border: 0;
}

.home-breadcrumb .btn:hover{
  background-color: #6c757d !important;
}

.home-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
  margin-top: 20px;
}

.home-card .no-style-link {
  flex: 1 0 auto;
}

.home-card .box {
  background: #1E202C;
  border-radius: 6px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-card .box:hover {
  background: #2f3245;
}

.no-style-link {
  text-decoration: none;
  display: block;
}

.box p, .box h2 {
  color: white;
}

.box p {
  margin-top: 10px;
  font-size: 1.5em;
}

.box h2 {
  font-size: 2.5em;
}

.noneed{
  color: white;
}

.home-table {
  background: #1E202C;
  width: 100%;
  margin-top: 25px;
}

.home-table table {
  width: 100%;
  border-collapse: collapse;
}

.home-table th, .home-table td {
  padding: 4px 0;
  padding-left: 15px;
  padding-right: 10px;
  text-align: left;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}

.home-table thead th {
  height: 60px;
  padding: 4px 0px 4px 0px;
  padding-left: 15px;
  text-align: left;
  color: white;
  background: #454A5F;
}

.home-table thead th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.home-table thead th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.home-table h2{
  color: #FFFFFF;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
  padding-top: 25px;
}

.home-table thead {
  background: #454A5F;
  padding: 10px;
}

.home-table tbody tr {
  background: #1E202C;
  border-bottom: 1px solid #313545;
}

.home-table tbody td {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  padding: 15px;
}

.upcoming-tasks.home-table {
  border-radius: 6px;
}

.table-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 6px;
  background: #1E202C;
}

table thead {
  background: #454A5F;
  border-radius: 6px;
  padding: 4px 0px 4px 0px;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

table thead th {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: white;
}

table tr + tr {
  margin-top: 1px;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: #313545;
  overflow: visible !important;
}

.dropdown-toggle {
  background-color: #1E202C;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #313545 !important;
  border-radius: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
  transition: display 0.5s ease-in-out;
}

.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #313545;
}

.dropdown-menu a:hover {
  background-color: #2f3245;
  color: #FFFFFF;
}

.form-container.card {
  background: #1E202C;
  padding: 16px;
  border-radius: 6px;
}

.form-label {
  color: white;
}

.form-control {
  background: #454A5F;
  border: none;
  color: white;
}

.btn {
  background-color: #06A392 !important;
  border: none !important;
  color: white;
}

.btn:hover {
  background-color: #6c757d !important;
}

.form-card {
  background: #1E202C;
  padding: 16px;
  border-radius: 6px;
  margin-top: 15px;
}

.home-table h1{
  color: #FFFFFF;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 10px;
}

.equipment-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.equipment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.equipment-header h1{
  font-size: 26px;
}

.equipment-info p{
  margin-top: 5px;
}

.equipment-title-edit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.barcode {
  margin-left: auto;
}

.barcode img {
  width: 150px;
  height: auto;
}

.tables-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.half-width-table {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.table-container table,
.table-container th,
.table-container td {
  table-layout: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.table-container td {
  overflow-wrap: break-word;
}

.tab-content {
  padding-top: 15px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  background-color: #1E202C;
  border: none;
  border-radius: 0;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.nav-tabs .nav-link:hover {
  background-color: #2f3245;
  color: white;
}

.nav-tabs .nav-link.active {
  background-color: #454A5F;
  color: white;
}

.tab-pane {
  background-color: #1E202C;
  border-radius: 6px;
  padding: 15px;
  margin-top: 20px;
}

.tab-content .table-container table {
  border: none;
}

.tab-content .table-container th,
.tab-content .table-container td {
  padding: 8px 0;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.tab-content .table-container thead th {
  background-color: #454A5F;
  border-radius: 6px;
}


/* Add this style for the container of h1 and button */
#maintenance-tasks .maintenance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0; /* Remove any margin */
}

/* Add this style for the h1 element */
#maintenance-tasks h1 {
  margin: 0;
  padding-top: 10px; /* Adjust top padding as needed */
}

/* Add this style for the button */
#maintenance-tasks .new-task-button {
  margin: 0;
  white-space: nowrap; /* Prevent the button from wrapping */
}

.tab-content .table-container thead th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.tab-content .table-container thead th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.tab-content .mt-2 {
  margin-top: 0 !important;
}

.tab-content .tab-pane.fade.show.active {
  padding-top: 0 !important;
}

.new-task-button {
  margin-top: -10px;
  margin-bottom: 10px;
}

        /* Style the camera view */
        #interactive.viewport {
          position: relative;
          width: 100%;
          height: 480px;
          overflow: hidden;
      }
      #interactive.viewport > canvas, #interactive.viewport > video {
          max-width: 100%;
          width: 100%;
      }
      /* Styles for the drawn box */
      .drawingBuffer {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
      }
      /* Flash animation for when a barcode is detected */
      @keyframes flash {
          0% { background-color: transparent; }
          50% { background-color: #33ff33; }
          100% { background-color: transparent; }
      }
      /* Style the scan area */
      .scan-area {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 300px;
          height: 100px;
          margin: -50px 0 0 -150px;
          border: dashed 3px red;
          box-sizing: border-box;
      }

      .barcode-input {
        display: flex;
        align-items: center;
    }
    .barcode-input input {
        flex-grow: 1;
    }
    .barcode-input button {
        background: none;
        border: none;
        margin-left: 5px;
    }
    /* Style the camera view popup */
    .camera-view {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        display: none;
    }
    .camera-view.active {
        display: flex;
    }

    #closeButton {
        position: absolute;
        top: 135px;
        left: 15px;
        background: none;
        border: none;
        color: #fff;
        font-size: 24px;
        z-index: 10;
        cursor: pointer;
    }

@media (max-width: 992px) {
  .nav-text {
    display: none;
  }
  .large-screen {
    display: none;
  }
  .sidebar a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    height: 100%;
    margin: 0;
  }
  
  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 5em;
    width: 100%;
    bottom: 0;
    padding: 0;
  }
  .squeeze {
    margin-left: 0;
    padding: 1em;
    padding-bottom: 6em;
  }
  
  .home-breadcrumb h1 {
    font-size: 1.2em;
  }
  
  .home-table {
    margin-top: 1em;
  }
  
  .home-table th, .home-table td {
    padding: 0.2em 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  .home-table tbody td {
    padding: 0.5em;
  }
  
  .table-container {
    padding: 0.8em;
  }
  .dropdown-menu {
    right: 0 !important;
    left: auto !important;
  }
}

@media (min-width: 992px) {
  .large-screen {
    display: block;
  }
}

