html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #0073aa;
}

body {
  margin-top: 0 !important; ;
  background-color: #454A5F;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 452px; /* increased width by 15px on each side */
  padding: 32px;
  background-color: #1E202C !important;
  border-radius: 12px !important;
}

.logo img {
  max-width: 150px;
  margin-bottom: 20px;
}

.card h1 {
  font-size: 16px; /* reduced font size */
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.form-label {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
  color: white;
}

.form-check .form-check-input {
  width: 14px !important;
  height: 14px !important;
  margin-top: 0 !important;
}

.form-check .form-check-label {
  line-height: 15px !important;  /* set this to match the height of your checkbox */
}
.btn:focus, .btn:active, .btn:hover {
  background-color: #06A392 !important;
}

input::placeholder {
  font-size: 13px;
}

/* Sidebar *//* Sidebar */
.sidebar .logo, .sidebar .drevtech {
  display: flex; /* turns on flexbox */
  justify-content: center; /* centers children horizontally */
  color: #FFFFFF;
}

.sidebar .drevtech {
  display: flex;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 30px; /* adjust this value as needed */
}


.sidebar {
  position: fixed; 
  height: 100%;
  width: 335px;
  padding: 22px 24px 670px 25px;
  background: #1E202C;
  box-shadow: 1px 0px 0px 0px #454A5F;
  display: block; /* set sidebar to display by default */
}

.sidebar a {
  display: block;
  padding: 8px 169px 8px 12px;
  border-radius: 6px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none; /* remove underline from links */
  margin-bottom: 13px; /* adds space between links */
  white-space: nowrap; /* prevent text from wrapping onto the next line */
}

.sidebar a.active {
  background-color: #454A5F;
}

.sidebar a:hover {
  background-color: #454A5F;
  color: #FFFFFF;
}


/* Hide .large-screen on small screens and adjust a tags */
@media (max-width: 992px) {
  .nav-text {
    display: none; /* hide nav text */
  }

  .large-screen {
    display: none; /* hide large screen elements */
  }
  .sidebar a {
    display: flex; /* Make a elements into flex containers */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 30px; /* NEW: Remove padding */
    height: 100%; /* make a tags fill the height of the sidebar */
    margin: 0; /* NEW: Remove margin */
  }
  
  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80px; /* adjust as needed */
    width: 100%;
    bottom: 0; /* position at bottom */
    padding: 0;
  }
}

/* Show .large-screen on larger screens */
@media (min-width: 992px) {
  .large-screen {
    display: block; /* show large screen elements */
  }
}
