<!DOCTYPE html>
{% import 'wtf.html' as wtf %}


<html>
<head>
    <title>Tract</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/tractwhite.png') }}" alt="Logo">
            </div>
            <p class="drevtech">By DrevTech.</p>
            <a href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i> Home</a>
            <a href="{{ url_for('list_equipment') }}"><i class="fa-solid fa-list"></i>  Equipment List</a>
            <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i></i>  Sign Out</a>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>