<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/tractwhite.png') }}" alt="Logo">
            </div>
            <a href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a>
            <a href="{{ url_for('list_equipment') }}"><i class="fas fa-list"></i>  Equipment List</a>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
