{% extends 'basee.html' %}
{% block content %}
<div class="squeeze">
    <h1>Edit Equipment</h1>
    <div class="form-container">
        <form method="POST">
            {{ form.hidden_tag() }}  {# Include CSRF token #}
            <div class="form-field">
                <label for="name">Name:</label>
                {{ form.name(class="text-field") }}
            </div>
            <div class="form-field">
                <label for="room">Room #:</label>
                {{ form.room(class="select-field") }}  
            </div>
            <div class="form-field">
                <label for="barcode">Barcode:</label>
                {{ form.barcode(class="text-field") }}
            </div>
            <div class="form-field">
                <label for="is_active">Active?</label>
                {{ form.is_active(class="checkbox-field") }}
            </div>
            <div class="form-field">
                <input type="submit" value="Save Changes" class="submit-button">
            </div>
        </form>
    </div>
</div>
{% endblock %}
