<!DOCTYPE html>
<html>
{% extends "basee.html" %}    
<head>
    <title>Home</title>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


    {% block content %}
    <div class="squeeze">
        {% if current_user.is_authenticated %}
        <h1>Hi {{ current_user.username }}!</h1>
        {% endif %}

        <div class="box-container">
            <a class="no-style-link" href="{{ url_for('list_equipment') }}">
                <div class="box">
                    <p>Total Machines</p>
                    <h2>{{ total_machines }}</h2>
                </div>
            </a>
            <div class="box">
                <p>Machines Down</p>
                <h2>{{ total_machines - total_active_machines }}</h2>
            </div>
            <a class="no-style-link" href="{{ url_for('list_maintenance') }}">
            <div class="box">
                <p>Total Tasks</p>
                <h2>{{ total_tasks }}</h2>
            </div>
        </a>
        </div>  
        
        <div class="upcoming-tasks">
            <h2>This Weeks Tasks</h2>
            {% if upcoming_tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Equipment</th>
                        <th>Room</th>
                        <th>Task</th>
                        <th>Maintenance Date</th>
                        <th>Mark Complete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in upcoming_tasks %}
                    <tr>
                        <td>{{ task.equipment.name }}</td>
                        <td>{{ task.equipment.room }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.next_date.strftime('%m/%d/%Y') }}</td>
                        <td>
                            <form action="{{ url_for('complete_maintenance', id=task.id, redirect_route='home') }}" method="post" style="display: inline-block;">
                                <input type="hidden" name="_method" value="post">
                                <button type="submit" style="background: none; border: none; padding: 0; margin-right: 10px; font-size: inherit; cursor: pointer;">
                                    <i class="fas fa-check" style="color: #77bb41;"></i>
                                </button>
                            </form>
                            <form action="{{ url_for('delete_maintenance', id=task.id, redirect_route='home') }}" method="post" style="display: inline-block;">
                                <input type="hidden" name="_method" value="post">
                                <button type="submit" style="background: none; border: none; padding: 0; font-size: inherit; cursor: pointer;">
                                    <i class="fa-solid fa-trash" style="color: #C70039;"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No maintenance needed</p>
            {% endif %}
        </div>        
        
    </div>
    {% endblock %}
</body>
</html>

