<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% block content %}
  <div class="form_container">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/tractwhite.png') }}" alt="Logo">
    </div>
    <p class="drevtech">by Drevtech</p>
    <form class="form-signin" method="POST">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      {{ form.csrf_token }}
      <div class="form-group">
        <label for="Email" class="sr-only">Email</label>
        {{ form.email(class_="form-control", placeholder="Email", required=true, autofocus=true) }}
      </div>
      <div class="form-group">
        <label for="Password" class="sr-only">Password</label>
        {{ form.password(class_="form-control", placeholder="Password", required=true) }}
      </div>
      <div class="form-group form-check">
        {{ form.remember_me(class_="form-check-input") }}
        <label class="form-check-label" for="RememberMe">Remember me</label>
      </div>
      {{ form.submit(class_="btn btn-primary btn-block", value="Sign In") }}
      <p class="text-center">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </form>
  </div>
{% endblock %}
<body class="loginbody">

</body>
