<!DOCTYPE html>
{% import 'wtf.html' as wtf %}
<html>
<head>
    <title>Add New Equipment</title>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>
    {% extends 'basee.html' %}
    {% block content %}
    <div class="squeeze">
    <div class="home-breadcrumb">
    <h1>Add New Equipment</h1>
    </div>
    <div class="form-card">
        <form method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="room" class="form-label">Room #:</label>
                {{ form.room(class="form-control") }}  
            </div>
            <div class="mb-3">
                <label for="barcode" class="form-label">Barcode:</label>
                <input type="text" id="barcode" name="barcode" class="form-control">
            </div>
            <div class="mb-3">
                <input type="submit" value="Add Equipment" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
    {% endblock %}
</body>
</html>
