<!DOCTYPE html>
<html>
<head>
    <title>View Equipment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .container {
            display: flex;
            flex-direction: row;
        }

    </style>
</head>
<body>

    {% extends 'basee.html' %}
    {% block content %}
    <div class="squeeze">
        <div class="container">
            <div class="equipment-info">
                <div>
                    <h1>{{ equipment.name }}</h1>
                    <a href="{{ url_for('edit_equipment', id=equipment.id) }}"><i class="fas fa-edit"></i></a>
                </div>
                <div class="equipment-details">
                    <p>ID: {{ equipment.id }} | Room #: {{ equipment.room }} | Up & Running: {{ equipment.is_active }}</p>
                </div>
            </div>
            <div class="barcode">
                <img src="{{ url_for('static', filename='barcodes/' + equipment.barcode + '.png') }}" alt="Barcode">
            </div>
        </div>

    <h2>Maintenance Tasks <a class="new-task-button" href="{{ url_for('new_maintenance', id=equipment.id) }}"><i class="fas fa-plus" style="color: #77bb41;"></i></a></h2>
    <div class="maintenance-tasks">
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Maintenance Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.description }}</td>
                    <td>{{ task.next_date.strftime('%m/%d/%Y') }}</td>
                    <td>
                        <a href="{{ url_for('edit_maintenance', id=task.id) }}"><i class="fas fa-edit"></i></a>
                        <form action="{{ url_for('complete_maintenance', id=task.id, redirect_route='view_equipment') }}" method="post" style="display: inline-block;">
                            <input type="hidden" name="_method" value="post">
                            <button type="submit" style="background: none; border: none; padding: 0; margin-left: 5px; margin-right: 5px; font-size: inherit; cursor: pointer;">
                                <i class="fas fa-check" style="color: #77bb41;"></i>
                            </button>
                        </form>
                        <form action="{{ url_for('delete_maintenance', id=task.id, redirect_route='view_equipment') }}" method="post" style="display: inline-block;">
                            <input type="hidden" name="_method" value="post">
                            <button type="submit" style="background: none; border: none; padding: 0; font-size: inherit; cursor: pointer;">
                                <i class="fas fa-trash" style="color: #C70039;"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
        
            </tbody>
        </table>
    </div>
    <h2>Maintenance History</h2>
    <ul>
    {% for history in maintenance_history %}
    <li>{{ history.completed_date.strftime('%m/%d/%Y') }}: {{ history.description }}</li>
    {% endfor %}
    </ul>


    </div>
    
    {% endblock %}
</body>
</html>
